<section>
  <mat-card class="dadosEntrega">
    <mat-card-header>
      <mat-card-title>DADOS DA ENTERGA</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Cep">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Endereço">
        </mat-form-field>
        <mat-form-field style="width: 50%;">
          <input matInput placeholder="Pais">
        </mat-form-field>
        <mat-form-field style="width: 50%;">
          <input matInput placeholder="Estado">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Cidade">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Telefone">
        </mat-form-field>
      </form>  
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Enviar</button>
    </mat-card-actions>  
  </mat-card>  
</section> 