  <h1 style="margin-left: 15%;">DADOS ENTREGA</h1>
  <div class="dadosEntrega">
      <mat-form-field style="width: 100%;">
      <input matInput placeholder="Cep" [textMask]="{mask: mask}" [(ngModel)]="mascara" required 
      minlength="8" [(ngModel)]="cep" name = "cep" #cepField="ngModel" (input)="inputEvent($event)" autocomplete="off" type="text">
      <mat-error *ngIf="cepField.errors?.required">
        <p>Este campo é obrigatório</p>
      </mat-error>
      <mat-error *ngIf="cepField.errors?.minlength">
        <p>O CEP Precisa ter 8 digitos</p>
      </mat-error>  
    </mat-form-field>
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Endereço" [value]="logradouro" autocomplete="off" required>
        <mat-error *ngIf="cepField.errors?.required">
          <p>Este campo é obrigatório</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 45%;">
        <input matInput placeholder="Pais" [value]="pais" required autocomplete="off">
      </mat-form-field>
      <mat-form-field style="width: 45%; margin: 5%;">
        <input matInput placeholder="Estado" [value]="uf" required autocomplete="off">
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Cidade" [value]="localidade" required autocomplete="off">
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <mat-label>Telefone</mat-label>
        <span matPrefix>+(55) &nbsp;</span>
        <input type="tel" matInput placeholder="9 9999 9999" required autocomplete="off">
      </mat-form-field>
  </div>