<section>
  <h1 style="margin-left: 15%;">DADOS ENTREGA</h1>
  <div class="dadosEntrega">
    <form>
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Cep" [textMask]="{mask: mask}" [(ngModel)]="mascara" type="text" required minlength="8" name = "cep">
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Endereço" required>
      </mat-form-field>
      <mat-form-field style="width: 50%;">
        <input matInput placeholder="Pais" required>
      </mat-form-field>
      <mat-form-field style="width: 50%;">
        <input matInput placeholder="Estado" required>
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Cidade" required>
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <mat-label>Telefone</mat-label>
        <span matPrefix>+(55) &nbsp;</span>
        <input type="tel" matInput placeholder="9 9999 9999" required>
      </mat-form-field>
    </form>
  </div>
</section> 