<section>
  <h1 style="margin-left: 15%;">SEU INGRESSO</h1>
  <div class="seuIngresso">
  <section>
    <div class="esquerda" style="float: left; width: 50%;">
      <img mat-card-image name="imagem" src={{imagem}} onclick="click()" style="width: 70%;">
    </div>
    <div class="direita" style="float: right; width: 50%;">
      <mat-form-field appearance="fill">
        <mat-label>Filmes</mat-label>
        <mat-select disableRipple (selectionChange)="trocaSelecao($event)">
          <mat-option value={{f.id}} *ngFor="let f of buscaFilmes">{{f.title}} </mat-option>
        </mat-select>
      </mat-form-field>

      <h2>Filme: {{titulo}}</h2>
      <h2></h2>
      <h2>R${{preco}}</h2>
    </div>
  </section>
  <section>
    <div class="totais" style="float: left;width: 100%; margin-left: 15%;">
      <section>
        <h2 style="float: left; width: 50%;">Sub total</h2>
        <h2 style="float: right; width: 50%;">R${{subtotal}}</h2>
      </section>
      <section>
        <h2 style="float: left; width: 50%;">Frete</h2>
        <h2 style="float: right; width: 50%;">R${{frete}}</h2>
      </section>
      <section>
        <h2 style="float: left; width: 50%;">Total</h2>
        <h2 style="float: right; width: 50%;">R${{total}}</h2>
      </section>
      
    </div>
  </section>
  </div>
</section>    