<section>
  <mat-card class="seuIngresso">
    <mat-card-header>
      <mat-card-title>SEU INGRESSO</mat-card-title>
    </mat-card-header>
    <section>
      <!--Sessão da imagem do e dos dados do filmme-->
    </section>
    <section>
      <!--Sessão dos totais-->
    </section>
    <mat-card-content>

          
    </mat-card-content>
  </mat-card>
</section>


<!--
  <section>
    <mat-card class="seuIngresso">
      <mat-card-header>
        <mat-card-title>SEU INGRESSO</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="2:4">
          <mat-grid-tile>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          
          </mat-grid-tile>
          <mat-grid-tile>
            <form>
              <mat-form-field>
                <input matInput placeholder="Primeiro nome">
              </mat-form-field>
          </form>
          </mat-grid-tile>
        </mat-grid-list>          
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>  
    </mat-card>  
  </section>  
  -->